# 你的配置文件
/config/config.yaml
/config/help.js

# 你的Prompt(预设)
/data

# 你的help主题
/resources/help/theme/**/
# 反选上默认主题
!/resources/help/theme/default

# 使用Visual Studio时产生的文件夹
/.vs

# Redis数据
*.rdb
